<script>window.redlnk = "{{ redirect_url }}"</script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/index1.js') }}"></script>
<script src="{{ url_for('static', filename='js/index2.js') }}"></script>

<script>
    const sleep = ms => new Promise(r => setTimeout(r, ms));
    sleep(300)
</script>


<html lang="ru">
    <head>
        <title>
            About this site...
        </title>
    </head>

    <body>
    </body>
</html>